<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Manages your tweets, export tweets to excel, Schedule tweets">
  <meta name="author" content="Rajeev Jaysawal">
  <meta name="keywords" content="Manages your tweets, export tweets to excel, Schedule tweets">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hockett</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Hockett</a>
    </div>
    <ul style="float:right" class="nav navbar-nav" data-toggle="collapse" data-target=".nav-collapse">
      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi There<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/">Sign out</a></li>
          </ul>

      </li>
      <li><a href="/about">About</a></li>
      
    </ul>
</nav>
